/* about.css */
.about-container {
    font-family: 'Qatar2022 Arabic';
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #CDD1D4;
    padding: 20px;
    position:relative;
  }
  
  .news-section {
    width: 60%;
    position:relative;
  }

  .news-section h2{
    margin-left: 190px;
    margin-top: 25px;
    font-size:xx-large;
    color:#21434C ;
  }
  .slick-dots {
    display: flex !important; /* Utilisez !important pour s'assurer que ces styles sont appliqués */
    margin-left: 250px;
    align-items: center;
    margin-top: 18px; /* Ajustez la marge selon vos besoins */
  }
  .slick-dots li button {
    width: 10px; /* Largeur de la boule */
    height: 10px; /* Hauteur de la boule */
    border: none;
    border-radius: 50%;
    background-color: #999; /* Couleur de fond des boules */
    cursor: pointer;
    opacity: 0.7; /* Opacité des boules inactives */
    transition: opacity 0.3s ease, background-color 0.3s ease;
  }
  .slick-dots li.slick-active button {
    opacity: 1; /* Opacité de la boule active */
    background-color: #333; /* Couleur de fond de la boule active */
  }  
  
  
  .news-item {
    margin-top: 50px;
    margin-left: 90px;

    position:relative;
  }
  
  .news-item img {
    border-radius: 10px 10px 0px 0px; /* Coins arrondis */
    width: 50%;
    max-width: 50%;
    height: auto;
  }
  .news-item p {
    background-color: #fff;
    width: 50%;
    padding-top: 10px;
    padding-left: 10px;
    line-height: 1.2;
  }

  .countdown-section {
    width: 30%;
  }
  
  .countdown-section h2 {
    color: #fff; /* Couleur du texte blanc */
  }
  