/* about.css */
.about-container {
    font-family: 'Qatar2022 Arabic';
    background-color: #CDD1D4;
    height: auto;
  }
  .part1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 50px;
  }


  
  .news-section {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
  }

  .news-section h2{
    font-size:39px;
    color:#21434C ;
    text-align: center;
    margin-bottom: 20px;
  }

  .slidecont {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 400px;
    border: none;
    flex-direction: row;
    outline: none !important;
  }
   


  .news-item {
    background-color: #fff;
    height: 360px;
    border-radius: 10px;
  }
  
  .news-item img {
    border-radius: 10px 10px 0px 0px; 
    width: 100%;
    height: auto;
    cursor: pointer;
  }
  
  .news-item p {
    padding: 15px;
    line-height: 18px;
  }

  .news-item h5 {
    margin-top: -10px;
    padding-left: 15px;
    font-family: "Graphik Arabic";
  }
  
  

   
  .countdown-section .titrechanger {
    color: #fff; 
    text-align: center;
    background-color: #21434C;
    border-radius:10px 10px 0px 0px ;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
  }
  

  
  .changer {
    
    height: 150px;
    align-items: center;
    display: flex;
    flex-direction: column;
    width:  350px;
  }
  .countdown{
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 100px;
    
    border-radius:0px 0px  10px 10px;
  }
  .countdown p{
    font-family:'Graphik Arabic';
    margin-bottom: 10px;
  }
  
  .count{
    font-size: 25px;
    color: #21434C;
    font-weight: 200;
  }
.part1 {
  margin-bottom: 50px;
}

 


.part2{
  margin-top: -50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo img {
  width: 500px; 
  height:auto;

}


.description{
  width:38%;
  display:flex;
  align-items: center;
  flex-direction: column;
  margin-left: -180px;
  
}


.description h2{
  color:#21434C;
  font-size: 39px;
  padding-bottom: 10px;
}

.description p {
  font-size: 14px;
  line-height:2;
  text-align: justify;
  font-family:'Graphik Arabic';
}
/* Responsive Styles */
@media screen and (max-width: 767px) {
  .about-container {
    padding: 10px;
  }

  .part1 {
    flex-direction: column;
  }
  
  
  .news-section h2 {
    
    font-size: 30px;
  }

  
  .news-item{
    height: 270px;
  }

  .slidecont{
    height: 320px;
    margin-bottom: 70px;
    width: 300px;
  }


  .part2 {
    flex-direction: column;
  }

  
  .logo img {
    width: 250px; 
    margin-top: 40px;
  }

  .description {
    width: 85%;
    margin-left: 0px;

  }
  .description p {
    line-height: 1.5;
    margin-bottom: 40px;
  }


  .description h2 {
   margin-bottom: 20px;
    font-size: 30px;
  }

  
}


  