.ticlair {
    font-size: 45px;
    font-family: 'Qatar2022 Arabic';
    color: #21434C ;
    text-align: center;
    margin-bottom: 20px;
    padding-top: 30px;
}

.contact .information{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 30px;
}

.contact{
    background-color: #CDD1D4;
    height: auto;
}

.imgcontact img {
    height: 350px;
    width: auto;
}


.formu{
    background-color: #21434C;
    display: flex;
    align-items: center;
    justify-content: center;
    
    height: 450px;
    width: 320px;
    border-radius: 12px;
    margin-left: -300px;
}

.formu p {
    color: white;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 25px;
    font-size: 16px;
    font-family: 'Graphik Arabic';
}

input {
    background-color: white;
    outline: none !important;
    border-radius: 10px;
    color: #21434C;
    border: none;
    padding: 10px 15px;
    margin: 10px;
    width: 220px;
    height: 35px;
    font-size: 13px;
    font-family: 'Montserrat';
}

input::placeholder,textarea::placeholder {
    color: #21434C;
    font-weight: 500;

}

input[type="submit"] {
    background-color: transparent;
    color: white;
    border: 2px solid white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    margin-bottom: 20px;
    padding-bottom: 25px;
}
input[type="submit"]:hover {
    background-color: white;
    color: #21434C;
    
    font-weight: 600;
}


textarea {
    border-radius: 10px;
    width: 220px; 
    height: 100px; 
    resize: none; 
    font-family: 'Montserrat';
    padding: 10px; 
    font-size: 13px; 
    font-weight: 500;
    outline: none; 
    background-color: white; 
    color: #21434C; 
    overflow-y: auto; 
    margin: 10px;
    border: none;
}

.retour {
    height: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
}

.fleche {
    color: #21434C;
    height: 37px;
    width: auto;
    margin-right: 50px;
    
}
.mon {
    padding-bottom: 20px;
}

@media screen and (max-width:830px) {
    .imgcontact{
        display: none;
    }
    .retour{
        justify-content: center;
    }
    .fleche {
        margin: 0;
    }
    .ticlair{
        font-size: 35px;
    }
    .formu {
        margin-left: -0px;
    }
}