@import "react-datepicker/dist/react-datepicker.css";

.Match_section {
  padding-bottom: 20px;
  padding-top: 50px;
  font-size: 23px;
  font-family: 'Qatar2022 Arabic';
  background-color: #cdd1d4;
  display: flex;
  flex-direction: column;
}

.head {
  display: flex;
}

.Balle {
  width: 33%;
  margin-bottom: 20px;
}

.Balle img {
  width: 100%;
}

.Title {
  display: flex;
  flex-direction: column;
  color: #21434c;
  align-items: center;
  justify-content: center;
  gap: 5%;
}

.Matches {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.SingleMatche {
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-radius: 60px;
  font-size: 20px;
  width: 70%;
  margin-bottom: 30px;
}

.team2{
    width: 300px; /* Set a fixed width for team1 and team2 */
    padding: 15px;
    padding-left: 50px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    text-align: center;
    border-radius: 0px 60px 0px 60px;
    background-color: #21434c;
    color: white;
  }
.team1 {
  width: 300px; /* Set a fixed width for team1 and team2 */
  padding: 15px;
  padding-left: 50px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  text-align: center;
  border-radius: 0px 60px 0px 60px;
  background-color: #21434c;
  color: white;
}

.place {
  padding: 15px;
  color: #21434c;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.flag {
  width: 40%;
  height: 75px;
  margin-bottom: 13px;
  overflow: hidden;
}

.flag img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}
.NoMatches{
  font-size: 35px;
  color:#21434c;

}

/* Media Queries for responsiveness */
@media screen and (min-width: 768px) {
  .SingleMatche {
    flex-direction: row;
  }
}

@media (min-width: 700px) and (max-width: 900px) {
    .Balle {
      display: none; /* Hide the ball */
    }
  
    .head {
        margin-top:10%;
       flex-direction: column; /* Adjusted for responsiveness */
       font-size: 20px;
       margin-bottom: 5%;

    }
  
    .Title {
      gap: 10px; /* Adjusted for spacing */
    }
  
    .SingleMatche {
      width: 80%; /* Adjusted for full width */
    }
  
    .team1
     {
      width: 230px; /* Adjusted for full width */
      font-size: 18px;
      padding-left: 25px;
      border-radius: 0px 50px 0px 50px
    }
    .team2
     {
      width: 230px; /* Adjusted for full width */
      font-size: 18px;
      padding-right: 25px;
      border-radius: 0px 50px 0px 50px
    }
    .flag{
        width:40%;
        height: 80%;
        margin-bottom:9px ;
    }
  }
  @media screen and (max-width: 700px) {
    .Balle {
      display: none; /* Hide the ball */
    }
  
    .head {
        margin-top:10%;
       flex-direction: column; /* Adjusted for responsiveness */
       font-size:16px;
       margin-bottom: 5%;

    }
  
    .Title {
      gap: 8px; 
    }
  
    .SingleMatche {
      width: 80%;
    }
  
    .team1
     {
      width: 140px; /* Adjusted for full width */
      font-size: 14px;
      padding-left: 10px;
      border-radius: 0px 30px 0px 30px
    }
    .team2
     {
      width: 140px; /* Adjusted for full width */
      font-size: 14px;
      padding-left: 12px;
      border-radius: 0px 30px 0px 30px
    }
    .flag{
        width:40%;
        height: 50%;
        margin-bottom:4px ;
    }
  }
